.add-guests{
    right: 0px;

    article{
        width: 330px;
        padding-block: 20px;
        border-bottom: 1px solid $borderClr;
        
        &:last-child{
            border-bottom: 0;
        }

        .counter-container{
            gap: 10px;
            .icon{
                padding: 3px;
                border: 1px solid $borderClr;
                border-radius: 50%;
            }

            .counter{
                margin: 0;
            }

        }
    }
}