.calendar {
    border-radius: 4px;
    padding: 10px;
    margin-block: 20px;

    .calendar-header {
        margin-bottom: 10px;

        button {
            font-size: 1.2rem;
            cursor: pointer;
        }
    }

    .calendar-container {
        gap: 50px;

        .calendar-grid {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 10px;
            text-align: center;
            height: max-content;

            .day {
                font-weight: bold;
                width: 30px;
            }

            .date {
                border-radius: 50%;
                padding: 8px 0px;
                cursor: pointer;
                border: 1px solid white;

                &:hover {
                    border: 1px solid black;


                }

                &.selected {
                    background-color: #ebebeb;
                }

                &.end-date,
                &.start-date {
                    background-color: black;
                    color: white;

                }

            }

        }
    }
}