.calendar {
    border-radius: 4px;
    padding: 10px;
    max-width: 300px;
    margin-block: 20px;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        button {
            font-size: 1.2rem;
            cursor: pointer;
        }
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 5px;
        text-align: center;

        .day {
            font-weight: bold;
        }

        .date {
            border-radius: 50%;
            padding: 8px 0px;
            cursor: pointer;
            border: 1px solid white;

            &:hover {
                border: 1px solid black;


            }

            &.selected {
                background-color: #ebebeb;
            }

            &.end-date,
            &.start-date {
                background-color: black;
                color: white;
                
            }

        }

    }
}