.reviews {
    .star-icon {
        font-size: 1em;
        margin-inline-end: 5px;
    }

    .rate {
        padding-block: 20px;
        display: grid;
        gap: 10px 150px;
        grid-template: repeat(3, 1fr)/repeat(2, 1fr);

        .bar {
            background-color: black;
            padding: 2px 70px;
            border-radius: 2em;
            margin-inline-end: 10px;
        }

        h5 {
            margin: 0;
            width: 17px;
        }
    }

    .reviews-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 40px;
        gap: 40px 150px;

        .review {
            margin-inline-end: 90px;

            header {
                gap: 30px;
                padding-block: 20px;
            }

            div {
                font-size: 1.142em;
                line-height: 24px;
            }
        }
    }

    @include for-narrow-layout {
        .rate {
            grid-template: repeat(6, 1fr)/1fr;
        }

        .reviews-container {
            grid-template-columns: minmax(300px, 1fr);
        }
    }

    @include for-normal-layout {
        .rate {
            gap: 10px 50px;
        }

        .reviews-container {
            gap: 40px 50px;

        }
    }

    @include for-wide-layout {

        .reviews-container {
            gap: 40px 50px;
        }
    }
}