.sing-in-up {
    position: fixed;
    top: 0%;
    right: 50%;
    transform: translate(50%, 20%);
    padding: 20px;
    background-color: white;
    border: 1px solid $borderClr;
    z-index: 100;

    .back {
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 50px;
        cursor: pointer;

        &:hover {
            background-color: $borderClr;
        }
    }

    div {
        margin: 0;
        width: 100%;
    }

    .add-img {
        display: none;
    }

    .upload-profile {
        cursor: pointer;

        .profile {
            margin-block-end: 10px;
        }

        .user-icon {
            font-size: 3em;
        }
    }


    h2 {
        text-align: center;
        padding-block: 20px;
        border-bottom: 1px solid $borderClr;
    }

    .input {
        min-width: 300px;
        margin-block-end: 20px;

    }

    .or-guest {
        padding-block: 20px;
        text-align: center;
        border-block-start: 1px solid $borderClr;
    }
}