.sing-in-up {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    padding: 10px;
    background-color: white;
    border: 1px solid $borderClr;
    width: 400px;

}