.stay-review-detail {
    &>* {
        padding-block: 20px;
        border-block-end: $borderClr 1px solid;
    }

    .stand-out {
        &>* {
            display: flex;
            align-items: center;
            gap: 20px;
            padding-block: 10px;
        }

        img {
            width: 30px;
        }
    }

    .summary {
        font-size: 1.3em;
    }

    .amenities {
        h2{
            margin-block-end: 30px;
        }

        .amenities-container {
            display: grid;
            grid-template-columns: (repeat(2, 1fr));
            gap: 30px;

            &>* {
                display: flex;
                align-items: center;
                gap: 20px;

                p{
                    margin: 0;
                    font-size: 1.14em;
                }
            }
        }

        img {
            width: 30px;
        }

    }
}