.stay-filter {
    article {
        position: relative;
        background-color: white;
        padding-block: 10px;
        justify-content: flex-start;
        align-items: center;
        z-index: 5;


        .label-box {
            margin-right: 2rem;
            opacity: 0.5;
            border-bottom: 1px solid white;
            width: 85px;
            height: 80px;

            img {
                width: 30px;
                margin-block-end: 10px;
            }

            p {
                text-align: center;
            }

            &:hover,
            &.selected-box {
                opacity: 1;
                border-bottom: 1px solid black;
                transition: all 0.3s;
                cursor: pointer;
            }

            &:first-child {
                margin-inline-start: 60px;
            }
        }

        .All{
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: -1em;
                transform: translate(-50%, -50%);
                height: 60%;
                width: 1px;
                background-color: black;
            }
        }

        .arrow-cont {
            position: absolute;
            padding: 10px 20px;
            background: linear-gradient(to left, white, rgba(255, 255, 255, 0.507));
            background: linear-gradient(to left, white 70%, rgba(255, 255, 255, 0.507) 70%);

            &.left {
                left: 0px;
            }

            &.right {
                right: 0px;
            }

            .arrow {
                font-size: 2em;
                background-color: white;
                border-radius: 50px;
                transition: .3s;
                border: 1px solid $borderClr;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}