.stay-review-detail {

    &>* {
        padding-block: 20px;
        border-block-end: $borderClr 1px solid;
    }

    .stand-out {
        &>* {
            display: flex;
            align-items: center;
            gap: 20px;
            padding-block: 10px;
        }

        img {
            width: 30px;
        }
    }

    .summary {
        font-size: 1.3em;
    }

    .amenities {
        &>* {
            display: flex;
            align-items: center;
            gap: 20px;
            padding-block: 10px;
        }

        img {
            width: 20px;
        }

    }
}