.stay-header {
  // position: sticky;
  // top: 0;
  background-color: white;
  padding-block: 20px;
  border-bottom: 1px solid $borderClr ;
  z-index: 10;

  .set-stay-btn {
    border-radius: 50em;
    border: 1px solid $borderClr;
    box-shadow: 2px 2px 5px 0px $borderClr;
    padding: 7px;

    &:hover {
      box-shadow: 3px 3px 7px 0px $borderClr;
    }

    button:not(:last-child) {
      position: relative;
      padding: 10px 15px;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        height: 60%;
        width: 1px;
        background-color: $borderClr;
      }
    }

    button:last-child {
      padding: 10px 15px;
      color: $txtClr2;
    }

    .search-icon {
      background-color: $logoClr;
      color: white;
      padding: 1px 2px;
      border-radius: 50%;
    }
  }

  .sating {
    position: relative;

    &>* {
      margin-inline-end: 20px;
    }

    .your-home {
      border-radius: 2em;
      padding: 10px;

      &:hover {
        background-color: #F7F7F7;
      }
    }

    .user-log {
      border-radius: 2em;
      border: 1px solid $borderClr;
      padding: 5px;
      cursor: pointer;

      .menu-icon {
        font-size: 1.5em;
        margin-inline-end: 10px;
      }

      .user-icon {
        color: $txtClr2;
        font-size: 2.5em;
      }

      .profile,
      .no-img {
        width: 30px;
        height: 30px;
      }

      &:hover {
        box-shadow: 3px 3px 7px 0px $borderClr;
      }
    }

    .log-modal {
      position: absolute;
      top: 50px;
      right: 0;
      z-index: 100;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0px 0px 10px .5px #e7e7e7;
      padding: 10px 0px;


      .head-line {
        border-top: $borderClr 1px solid;
      }

      .light-clr {
        color: $txtClr2;
      }

      &>* {
        padding: 10px;
        padding-inline-end: 150px;
        font-weight: bold;
        text-align: start;

        &:hover {
          background-color: #F7F7F7;
        }

      }
    }
  }
}