.where {
    left: 0px;
    text-align: start;

    h4{
        margin-block: 20px;
    }

    .popular-countries {
        display: grid;
        // grid-column-gap: 5px;
        grid-row-gap: 24px;
        grid-template-columns: repeat(3, min-content);
        row-gap: 24px;
        column-gap: 10px;
        margin-bottom: 40px;

        img {
            width: 125px;
            border-radius: 10px;
            border: 1px solid $borderClr;
            cursor: pointer;

            &:hover {
                border: 1px solid black;
            }
        }
    }
}