.add-stay-step-one {
    gap: 20px;
    // padding-inline: 100px;

    img {
        height: 60vh;
    }

    h4 {
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        margin-bottom: 20px;
    }

}