.add-stay-publish {
    gap: 20px;

    img {
        width: 40vw;
    }

    h4 {
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
    }

    .action-btn{
         margin-block-start: 20px;
         width: 100%;
    }
}