.add-stay-publish {
    gap: 20px;

    img {
        height: 40vh;
        width: 60vh;
    }

    h4 {
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
    }

    .action-btn {
        margin-block-start: 20px;
        width: 100%;
    }

    @include for-normal-layout {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;

        img {
            order: 1;
            height: 30vh;
            width: 40vh;
        }

        article {
            order: 2;

            h4 {
                font-size: 16px;
            }

            p {
                font-size: 14px;
            }
            .action-btn {
                width: 300px;
            }
        }

    }
}