button {
    border: 0;
    background-color: white;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

form>* {
    display: block;
    width: 200px;
    margin: 10px 0px;
}

.btn-link {
    border: 0;
    background-color: transparent;
    text-decoration: underline;
    transition: .5s;
}

.btn-link:hover {
    transform: scale(1.1);
}

.logo {
    cursor: pointer;

    img {
        width: 40px;
    }

    span {
        font-size: 30px;
        color: $logoClr;
        font-weight: bold;
        font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    }
}

.action-btn {
    --mouse-x: 0;
    --mouse-y: 50;
    padding: 15px 30px;
    width: 300px;
    background-size: 200% 200%;
    background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
    background-image: radial-gradient(circle, rgb(250, 50, 89) 0%, rgb(203, 30, 85) 100%);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 1.142em;
    font-weight: bolder;
    color: white;
}

.form-btn {
    border: black 1px solid;
    padding: 15px 20px;
    border-radius: 10px;
    margin-block: 20px;
    font-weight: bold;
    font-size: 1.3em;

    &:hover {
        transform: scale(.9);
        background-color: rgb(230, 230, 230);
    }
}

.black-btn {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;

    h3 {
        font-weight: bold;
        margin: 0;
    }
}

.underline-btn {
    font-weight: bold;
    text-decoration: underline;

    &:hover {
        background-color: rgba(211, 211, 211, 0.281); 
    }
}

button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.profile {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.no-img {
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 1.5em;
}

.form-table {
    width: 90vw;

    th,
    td {
        padding-block: 10px;
        border-bottom: 1px solid $borderClr;
    }

    th {
        color: $tableTxtClr;
        text-align: start;
        padding: 10px;

        div {
            cursor: pointer;
        }


        &:last-child {
            text-align: center;
        }
    }

    td {
        text-align: center;

    }

    p {
        margin: 0;
        color: $tableTxtClr2;
    }

}

.empty-page {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &>* {
        padding: 20px;
        border-bottom: 1px solid $borderClr;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
    }
}