.messages {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;

    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;

        .sec {
            position: relative;
            display: grid;
            grid-template-rows: auto 1fr auto;
            border: 1px solid $borderClr2;
            max-height: calc(100vh - 86px);

            h3 {
                border-bottom: 1px solid $borderClr2;
                padding: 30px 20px;
                margin: 0;
            }

            .nav-btn {
                position: absolute;
                display: none;
                top: 0;
                left: 0;
                border-radius: 2em;
                cursor: pointer;


                &:hover {
                    background-color: lightgray;
                }
            }

            .underline-btn {
                display: none;
                position: absolute;
                right: 0;
            }
        }

        .empty-page {
            text-align: center;
        }

        .orders {
            .orders-list {
                overflow-y: scroll;

                .orders-prev {
                    padding: 20px;
                    gap: 20px;
                    border-bottom: 1px solid $borderClr2;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(247, 247, 247);
                    }
                }
            }
        }

        .messages-txt {

            .msg-list {
                padding: 20px;
                gap: 20px;
                overflow-y: scroll;
                border: 1px solid $borderClr2;


                .msg {
                    padding: 10px;
                    gap: 10px;
                    border-radius: 20px;
                    border-bottom: 1px solid $borderClr2;
                }
            }

            .new-msg {
                margin: 20px;
                padding: 5px;
                border: 2px solid $borderClr;
                border-radius: 2em;

                input {
                    all: unset;
                    width: 100%;
                }

                img {
                    width: 30px;
                    transform: rotate(90deg);
                    cursor: pointer;
                }
            }
        }

        .details {
            article {
                overflow-y: scroll;
                padding: 20px;
                gap: 10px;


                img {
                    border-radius: 10px;
                    width: 100%;
                    height: 40vh;
                    object-fit: cover;
                }

                h4 {
                    font-size: 23px;
                }

                h5 {
                    font-size: 16px;
                }

                .total {
                    text-align: end;
                }
            }
        }
    }

    @include for-normal-layout {
        main {
            grid-template-columns: 1fr;
        }

        .sec {
            position: fixed !important;
            width: 100vw;
            height: 100vh;
            background-color: white;
            z-index: 0;

            .nav-btn , .underline-btn{
                display: block !important;
            }
        }

        .over {
            z-index: 50 !important;
        }
    }
}