.stay-details {
    grid-template-columns: 170px 1fr 170px;
    
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 100px;
        border-bottom: $borderClr 1px solid;

    }

    .reviews {
        padding-block: 20px;
        border-bottom: $borderClr 1px solid;
    }

    .map-sec {
        padding-block: 20px;
        border-bottom: $borderClr 1px solid;

        .stay-map {
            height: 70vh;
        }
        h3{
            padding-block-start: 20px;
        }
    
        p{
            margin-block-end: 30px;
        }

    }

}